@using net_il_mio_fotoalbum.Models.DatabaseModels
@{
    
    ViewData["Title"] = Model.Name;
    
    @model Picture
}
<div class="__picture-details-ctn container d-flex flex-column align-items-center">
    <h1 class=" card-title mb-1">@Model.Name</h1>
    <div class="__picture-details-card card d-flex flex-column align-items-center">

        <div class="__image-det-ctn">
            <img class="card-img-top" src='@Model.ImageSrc' alt="picture image">

        </div>
        <div class="__written-details card-body text-center px-5">
            <p class="card-text">@Model.Description</p>
            <div class=" d-flex flex-column">
                
                <div>
                    @*categories*@
                    <div class="__details-categories d-flex justify-content-evenly">
                        <div>
                            <strong>Categories:</strong>

                        </div>
                        <div>
                            @if (Model.Categories != null && Model.Categories.Count > 0)
                            {
                                <ul>
                                    @foreach (Category category in Model.Categories)
                                    {
                                        <li>@category.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>No categories have been associated</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("ADMIN"))
            {

                <div class="__detail-btn-ctn d-flex gap-2 ">

                    <a href="@Url.Action("Update", "picture", new { id = Model.Id })" class="btn btn-primary p-2 __edit-icon">
                        @*
                        <i class=" fa-regular fa-pen-to-square"></i>

                        *@
                    </a>
                    @*
                    @await Html.PartialAsync("DeleteFormPartial")

                    *@

                </div>
            }
        </div>

    </div>
    @await Html.PartialAsync("GoBackButtons")


</div>
